body {
	background-color: #1877F2;
  text-align: center;
}

h2 {
  font-size: 55px;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 35px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 80px;
  padding-top: 25px;
  position: relative;
  z-index: 1;

  text-shadow:
    0 0 7px rgb(136, 128, 128),
    0 0 10px rgb(136, 128, 128),
    0 0 21px rgb(136, 128, 128),
    0 0 42px #0753B7,
    0 0 82px #0753B7,
    0 0 92px #0753B7,
    0 0 102px #0753B7,
    0 0 151px #0753B7;
}

.glass-card {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    margin: 10%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.fa {
  padding-top: 35px;
  padding-bottom: 0px;
  width: 300px;
  height: 80px;
  text-decoration: none;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

/* Facebook */
.fa-facebook {
  font-size: 50px !important;
  background: #0753B7;
  color: white;
}

#myVideo {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 0;
}

.contact-btn {
  position: absolute;
  background-color: #403838;
  border-radius: 12px;
  bottom: 0;
  margin: 25px;
}

.contact-txt {
  color: white;
  margin: 25px;
  font-size: 50px;
  user-select: none;
  font-weight: bold;
}

.contact-form {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #403838;
  position: relative;
  width: 80%;
  height: auto;
  text-align: center;
  display: none;
  bottom: 0;
}

.contact-text {
  color: white;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}